/* General Styles */
body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #333;
    color: #999;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #9C9;
}

/* Header and Navigation */
.tm-nav {
    position: fixed;
    top: 0;
    left: -1px;
    width: 50%;
    z-index: 1000;
}

.tm-nav ul {
    background-color: #444;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: #999;
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    font-size: 20px;
}

.nav-link:hover,
.nav-link.current {
    color: #99CC99;
}

/* Introduction Section */
.tm-media {
    display: flex;
    align-items: flex-start;
    margin-bottom: 70px;
}

.tm-media img {
    width: 200px;
    height: 200px;
}

.tm-media-body {
    padding-left: 30px;
}

/* Gallery Section */
.tm-gallery-container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.tm-gallery figure {
    position: relative;
    z-index: 50;
    overflow: hidden;
    margin: 15px;
    min-width: 200px;
    max-width: 250px;
    max-height: 250px;
    width: 25%;
    text-align: center;
    cursor: pointer;
}

.tm-gallery figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.tm-gallery figure figcaption {
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .tm-nav {
        width: 0;
    }

    .tm-nav ul {
        position: relative;
        left: -280px;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 280px;
        transition: all 0.5s ease;
    }

    .tm-nav ul.show {
        left: 0;
    }

    .nav-link {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 992px) {
    .tm-gallery figure {
        width: 33.33%;
    }
}

@media (max-width: 600px) {
    .tm-row {
        flex-direction: column;
    }

    .tm-col {
        flex: 0 0 100%;
        width: 100%;
    }

    .tm-media img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 420px) {
    .tm-media img {
        width: 100px;
        height: 100px;
    }
}
